.container {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 25px;
    height: 73px;
    display: flex;
    justify-content: center;
    
}

.link{
    text-decoration: none;
    color: white;
    
}

.link:hover{
    color: red;
    transition: 1s;
    transform: scale(1.5);
}